:root {
	--terminal-background: black;
	--terminal-foreground: white;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--terminal-foreground);
	font-family: 'Courier New', Courier, monospace;
	font-size: 32px;
	overflow-x: hidden;
}

input {
	border: none;
	caret-color: transparent;
	font: inherit;
}

input:focus {
	outline: none;
}